In [1]:
import pandas as pd
import numpy as np
#from scipy import sparse
#from datetime import timedelta
#import math
#from pattern.text.en import suggest,Sentence
#from nltk.tokenize import word_tokenize

In [2]:
filter_state = "Madhya Pradesh"
consumer_city = "Agra"
master_df = pd.read_csv("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\IND_Cities_Distance_Matrix_KM.csv",index_col=0)

In [3]:
def state_locator(state):
    import pandas as pd
    if state == "Andhra Pradesh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Andhra Pradesh.xlsx","Kilometers",index_col=0)
    elif state == "Arunachal Pradesh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Arunachal Pradesh.xlsx","Kilometers",index_col=0)
    elif state == "Assam":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Assam.xlsx","Kilometers",index_col=0)
    elif state == "Bihar":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Bihar.xlsx","Kilometers",index_col=0)
    elif state == "Chhattisgarh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Chhattisgarh.xlsx","Kilometers",index_col=0)
    elif state == "Dadra and Nagar Haveli":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Dadra and Nagar Haveli.xlsx","Kilometers",index_col=0)
    elif state == "Delhi":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Delhi.xlsx","Kilometers",index_col=0)
    elif state == "Goa":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Goa.xlsx","Kilometers",index_col=0)
    elif state == "Gujarat":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Gujarat.xlsx","Kilometers",index_col=0)
    elif state == "Haryana":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Haryana.xlsx","Kilometers",index_col=0)
    elif state == "Himachal Pradesh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Himachal Pradesh.xlsx","Kilometers",index_col=0)
    elif state == "Jammu and Kashmir":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Jammu and Kashmir.xlsx","Kilometers",index_col=0)
    elif state == "Jharkhand":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Jharkhand.xlsx","Kilometers",index_col=0)
    elif state == "Karnataka":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Karnataka.xlsx","Kilometers",index_col=0)
    elif state == "Kerala":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Kerala.xlsx","Kilometers",index_col=0)
    elif state == "Madhya Pradesh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Madhya Pradesh.xlsx","Kilometers",index_col=0)
    elif state == "Maharashtra":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Maharashtra.xlsx","Kilometers",index_col=0)
    elif state == "Manipur":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Manipur.xlsx","Kilometers",index_col=0)
    elif state == "Meghalaya":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Meghalaya.xlsx","Kilometers",index_col=0)
    elif state == "Mizoram":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Mizoram.xlsx","Kilometers",index_col=0)
    elif state == "Nagaland":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Nagaland.xlsx","Kilometers",index_col=0)
    elif state == "Odisha":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Odisha.xlsx","Kilometers",index_col=0)
    elif state == "Punjab":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Punjab.xlsx","Kilometers",index_col=0)
    elif state == "Sikkim":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Sikkim.xlsx","Kilometers",index_col=0)
    elif state == "Tamil Nadu":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Tamil Nadu.xlsx","Kilometers",index_col=0)
    elif state == "Telangana":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Telangana.xlsx","Kilometers",index_col=0)
    elif state == "Tripura":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Tripura.xlsx","Kilometers",index_col=0)
    elif state == "Uttar Pradesh":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Uttar Pradesh.xlsx","Kilometers",index_col=0)
    elif state == "Uttarakhand":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Uttarakhand.xlsx","Kilometers",index_col=0)
    elif state == "West Bengal":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\West Bengal.xlsx","Kilometers",index_col=0)
    elif state == "Rajasthan":
        city_df = pd.read_excel("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\States\\Rajasthan.xlsx","Kilometers",index_col=0)
    else:
        city_df = pd.read_csv("C:\\Users\\aayus\\Desktop\\PROJECT EXIBHITION\\Dis_Matrix_IND_dataset\\IND_Cities_Distance_Matrix_KM.csv",index_col=0)

    return city_df

In [4]:
city_df=state_locator(filter_state)
city_df

,Agar,Ajaigarh,Akodia,Alampur,Alot,Amarkantak,Amarpatan,Amarwara,Ambah,Amla,...,Tikamgarh,Udaipura,Ujjain,Ukwa,Umaria,Umri,Unhel,Vidisha,Waraseoni,aron
,,,,,,,,,,,,,,,,,,,,,
Agar,NaN,586.049,80.642,495.809,54.535,727.778,611.649,537.025,509.496,431.530,...,384.938,372.975,67.963,698.091,593.730,569.050,90.977,269.962,652.373,221.976
Ajaigarh,586.045,NaN,553.203,316.625,632.663,393.945,143.666,411.190,363.380,572.370,...,200.356,343.648,621.535,457.150,221.263,281.610,653.061,362.120,476.407,419.315
Akodia,80.642,553.185,NaN,478.802,135.177,682.586,573.295,457.046,570.300,351.551,...,339.889,292.996,148.605,618.112,555.376,552.042,171.620,192.691,572.394,176.927
Alampur,495.812,311.653,478.827,NaN,542.429,635.530,385.251,511.496,118.184,646.657,...,176.127,397.913,563.775,628.630,462.848,77.929,586.789,356.067,637.545,340.005
Alot,54.535,632.667,135.177,541.885,NaN,774.396,658.267,591.560,555.571,486.065,...,431.556,427.510,113.508,752.626,640.347,615.126,75.574,316.579,706.909,268.593
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Umri,569.052,281.610,552.067,77.929,615.670,667.834,417.555,574.967,82.775,719.897,...,239.598,461.384,637.016,692.101,495.152,NaN,660.030,429.307,701.016,413.246
Unhel,90.977,653.121,171.620,586.787,75.574,782.521,673.230,538.334,600.473,425.206,...,475.916,392.932,32.351,697.365,655.311,660.027,NaN,292.627,651.647,312.953
Vidisha,269.962,362.120,192.709,356.064,316.579,497.227,382.229,287.932,453.617,292.156,...,247.944,115.166,261.040,459.698,364.310,429.304,292.566,NaN,413.980,148.646
Waraseoni,652.204,476.348,572.225,636.827,706.739,327.818,412.275,154.029,737.470,275.773,...,465.289,298.377,619.220,59.332,291.814,700.299,650.746,413.544,NaN,525.005
aron,221.976,419.319,176.927,340.002,268.593,561.048,444.919,399.324,437.556,407.745,...,218.208,262.747,289.939,571.090,427.000,413.243,312.953,148.654,525.372,NaN

# Data Pre-Processing

In [5]:
city_df=city_df.fillna(0)
master_df=master_df.fillna(0)
cityList=list(city_df.columns.values)


#print("List of cities: ",cityList)

In [8]:
def get_nearCities(cityName,cityList):
    nearCities = master_df.loc[cityName][cityList].reindex()
    nearCities = nearCities.sort_values()
    #nearsCities = sorted(nearCities,key=lambda x:x[1])
    return nearCities

In [9]:
nearCities = get_nearCities(consumer_city,cityList).dropna()
nearCities_df=pd.DataFrame({"Cities":nearCities.index,"Distance (in Km)":nearCities.values,"Time(in Hours)": nearCities.values/55})
nearCities_df

       Cities  Distance (in Km)  Time(in Hours)
0      Morena            108.27        1.968545
1     Gwalior            143.75        2.613636
2       Morar            146.39        2.661636
3       Bhind            155.93        2.835091
4      Gohadi            200.46        3.644727
..        ...               ...             ...
58      Patan            819.88       14.906909
59    Khandwa            835.21       15.185636
60    Barwani            837.81       15.232909
61    Sendhwa            840.36       15.279273
62  Burhanpur            914.93       16.635091

[63 rows x 3 columns]